{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <header>
    </header>
    <main>
        <h1>My lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new todo list</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {% for todo_list in todo_lists %}
                <tr>
                    <div>
                        <td><a href="{% url 'todo_list_update' todo_list.id %}">Edit {{ todo_list.name }}</a></td>
                    </div>
                    
                    <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                    <td>{% with todo_list.items.all|length as item_count %}{{ item_count|intcomma }}{% endwith %}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer></footer>
</body>
</html>